{% load static %}
{% include "nav.html" %}


<!DOCTYPE html>
<html>
<head>
    <title>CSV მონაცემები</title>
<script src="{% static 'js.js' %}"></script>
<link rel="stylesheet" href="{% static 'words.css' %}">

</head>
<body>

  <div class="srch">
    <h1>Search word</h1>
        <form method="get" action="{% url 'csv-view' %}">
            <input type="text" name="q"  value="{{ query }}">
            <button type="submit">Search</button>
        </form>

        {% if results %}
            <h2>Results:</h2>
            <table border="1">
                <tr>
                    <th>english</th>
                    <th>georgia</th>
                    <th>level</th>
                </tr>
                {% for row in results %}
                <tr>
                    <td>{{ row.english }}</td>
                    <td>{{ row.georgia }}</td>
                    <td>{{ row.level }}</td>
                </tr>
                {% endfor %}
            </table>
        {% elif query %}
            <p>No results found for "{{ query }}"</p>
        {% endif %}
  </div>
    <div class="words">
        <table border="1">
            <thead>
                <tr>
                    {% for key in data.0.keys %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for value in row.values %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="add">
            <h1>add word </h1>
            <form id="addWordForm">
        <input type="text" name="word" placeholder="სიტყვა (english)" required />
        <input type="text" name="georgia" placeholder="სიტყვა (georgia)" required />
        <input type="text" name="level" placeholder="დონე" required />
        <button type="submit">დამატება</button>
        </form>

        <div id="message"></div>
    </div>

</body>
</html>
        