* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 100vh;
    
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  position: relative;
  min-width: 300px;
  max-width: 400px;
  height: 430px;
  width: 100%;
  gap: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #f9f9f9;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.lo{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    width: 120px;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.out{
    margin-left:157px;
    position: relative;
    font-size: 18px;
    color: #0056b3;
    text-decoration: none;

}

.in{
    background-color: #0056b3;
    color: #ffffff;
    font-size: 25px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    margin-left:148px;
    border: none;
    padding: 2px 8px;

}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ეკრანის სრული სიმაღლე */
  background-color: #f0f2f5; /* ცოტა რბილი ფონი */
}

@media screen and (max-width: 668px)  {
 
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;
}




}
