*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.words{
    display: flex;
    justify-content: center;
    align-items: center;
}

.srch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}